body {
	text-align: center;
}

/**/
body > * {
	margin-bottom: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

button {
	background: none;
	border: 1px solid #ddd;
	color: #333;
	font-size: 1em;
	padding: 0;
	width: 40px;
}

button::-moz-focus-inner 
{
  border: 0;
}

button:focus {
	outline: none;
}

* {
    box-sizing: border-box;
}

input[type="checkbox"] {
	display: none;
}

.notice {
	position: absolute;
	top: -100%;
	left: 45%;
	width: 150px;
	height: 30px;
	background-color: #e3e4d3;
	font-size: 20px;
	padding: 2px 8px;
	color: #777;
	font-family: 'Arial' sans-serif;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
}

.notice:after {
	content: '';
	position: absolute;
	bottom: -20px;
	right: 0px;
	width: 0;
	height: 0;
	display: inline-block;
	border: 10px solid #e3e4d3;
	border-right-width: 75px;
	border-left-width: 75px; 
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;  
}