.tasks {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	font-family: 'Rubik Mono One', sans-serif;
}

.tasks .container {
	text-align: left;
	background-color: #fff;
	font-size: 20px;
	width: 100%;
	height: 40px;
}

.tasks .container .oneTask {
	position: relative;
	height: 50px;
	line-height: 50px;
}

.tasks .container .oneTask:hover {
	background-color: #e3e4d3;
	
}

.tasks .container .oneTask .not:hover {
	cursor: pointer;
}

.tasks .container .oneTask > * {
	display: inline-block;
	height: 40px;
	vertical-align: middle;
}

.tasks .container .oneTask .close {
	position: absolute;
	right: 0;
	text-align: center;
	width: 50px;
	height: 50px;
}

.tasks .container .oneTask .close:hover {
	background-color: #777;
	color: #fff;
	cursor: pointer;
} 

.tasks .container .oneTask div[data-importent] {
	width: 40px;
	color: red;
}

.tasks .container .oneTask div[data-done="true"] + .not {
	color: #888;
}

.tasks .container .oneTask div[data-urgently="true"] {
	color: blue;
}